.card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: flex-start;
  text-align: center;
}

.card-frame {
  height: 312px;
  object-fit: contain;
}

.card-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.card-content {
  margin-top: 30px;
}

.card-title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-xl);
  color: var(--color-Dark-Charcoal);
}

.card-description {
  margin-top: 20px;
  font-size: var(--font-size-3xs);
  font-weight: var(--font-weight-default);
  line-height: var(--line-height-3sm);
  color: var(--color-gray);
}

/* tablet */
@media (min-width: 768px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
    gap: 0 90px;
  }

  .card-reverse {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .card-content-reverse {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .card-frame {
    min-width: 335px;
    height: 404px;
  }

  .card-content {
    margin-top: 0;
    text-align: left;
    width: 100%;
  }

  .card-title {
    font-size: var(--font-size-3xl);
    line-height: var(--line-height-3xl);
  }
}

/* desktop */
@media (min-width: 1440px) {
  .card {
    gap: 0 120px;
  }

  .card-frame {
    width: 504px;
    height: 480px;
  }

  .card-title {
    font-size: var(--font-size-5xl);
    line-height: var(--line-height-5xl);
  }

  .card-description {
    margin-top: 40px;
    font-size: var(--font-size-2xs);
    line-height: var(--line-height-4sm);
  }
}
