.category-title {
  font-family: ManropeExtraBold, sans-serif;
  font-size: var(--font-size-md);
  line-height: var(--line-height-4sm);
  font-weight: var(--font-weight-extra-bold);
  color: var(--color-black);
}

.category-decs {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-default);
  line-height: var(--line-height-2sm);
  color: var(--color-black);
  letter-spacing: 0.2px;
  margin-top: 10px;
}

.category-frame {
  position: relative;
  width: 76px;
  height: 76px;
  margin-top: 10px;
}

.circle-icon {
  width: 45px;
  height: 45px;
  background-color: var(--color-pink);
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: calc(50% - 40px);
  z-index: -1;
}
