.management {
  padding: 60px 20px;
}

.management-heading {
  font-family: ManropeExtraBold, sans-serif;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-extra-bold);
  line-height: var(--line-height-4sm);
  color: var(--color-black);
  text-align: center;
}

.management-description {
  margin-top: 15px;
  font-size: var(--font-size-4xs);
  font-weight: var(--font-weight-default);
  line-height: var(--line-height-3xs);
  color: var(--color-black);
  letter-spacing: 0.2px;
  text-align: center;
}

.management-category-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 80px;
  margin-top: 40px;
}

/* tablet */
@media (min-width: 768px) {
  .management {
    padding: 120px 86px;
  }

  .management-heading {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-2xl);
    text-align: center;
  }

  .management-description {
    font-size: var(--font-size-md);
    line-height: var(--line-height-lg);
    margin-top: 30px;
    text-align: center;
  }

  .management-category-list {
    grid-template-columns: repeat(2, 2fr);
    margin-top: 90px;
    grid-template-areas:
      "analysis chart-bar"
      "star chart-pie-slice"
      "crown prototype";
  }

  .category-analysis {
    grid-area: analysis;
  }
  .category-star {
    grid-area: star;
  }
  .category-crown {
    grid-area: crown;
  }
  .category-chart-bar {
    grid-area: chart-bar;
  }
  .category-chart-pie-slice {
    grid-area: chart-pie-slice;
  }
  .category-prototype {
    grid-area: prototype;
  }

  .category {
    padding: 0 30px;
  }
}

/* desktop */
@media (min-width: 1440px) {
  .management {
    padding: 120px 0;
  }

  .management-description {
    padding: 0 50px;
  }

  .management-category-list {
    grid-template-columns: repeat(3, 3fr);
    grid-template-areas:
      "analysis star crown"
      "chart-bar chart-pie-slice prototype";
  }

  .category {
    padding: 0 10px;
  }
}
